<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td bgcolor="#F7F6F2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="235" align="center">
                                            <img src="./img/beechenghiang.png" width="193" alt="Bee Cheng Hiang" style="display:block;" />
                                          </td>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#5D0F3F" width="1">
                                                    <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="1" height="1" alt="" style="display:block;" />
                                                  </td>
                                                  <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="30">
                                                            &nbsp;
                                                          </td>
                                                          <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:18px; color:#5D0F3F; line-height:18px;">
                                                                    Bee Cheng Hiang
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family: &#39;Open Sans&#39;; font-size:20px; color:#bd9441; line-height:24px; letter-spacing:1px;">
                                                                    Free 1 Packet of Mini Crunchies (Worth $8)
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:14px; color:#7c7c7c">
                                                                    with $60 spent
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:12px; color:#7C7C7C; font-style:italic;">
                                                                    Terms and conditions apply.
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                          <!-- <td width="25">&nbsp;</td> -->
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <img src="./img/redeem-btn.png" width="200" height="24" alt="" />
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>

                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            Terms &amp; Conditions
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Voucher is valid until 29 February 2020 (or while stocks last, whichever is earlier) at all Bee Cheng Hiang outlets located at Terminal 1, 2 and 4 of Singapore Changi Airport only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Actual e-voucher printout or email confirmation must be presented upon redemption.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Redemption is limited to one-time use only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• This offer is not valid in conjunction with other discounts, promotions, vouchers and loyalty cards.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• This coupon is not exchangeable for cash, prizes, products or other vouchers.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Limited to one (1) voucher per transaction.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Other terms and conditions may apply.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>