<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td bgcolor="#F7F6F2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="235" align="center">
                                            <img src="./img/isc-surewin.png" width="193" alt="Sure-win Token Icon" style="display:block;" />
                                          </td>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#5D0F3F" width="1">
                                                    <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="1" height="1" alt="" style="display:block;" />
                                                  </td>
                                                  <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="30">
                                                            &nbsp;
                                                          </td>
                                                          <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:18px; color:#5D0F3F; line-height:18px;">
                                                                    <img src="./img/logo-changirewards.png" width="193" alt="Changi Rewards" style="display:block;" />
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family: &#39;Open Sans&#39;; font-size:20px; color:#bd9441; line-height:24px; letter-spacing:1px;">
                                                                    1 FREE SURE-WIN TOKEN
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:14px; color:#7c7c7c">
                                                                    Win prizes such as an <strong><span style="white-space: nowrap;">all-expenses</span> paid holiday, latest electronic gadgets, cash, vouchers and more</strong> with your token on Changi Rewards Sure-Win Game!
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:12px; color:#7C7C7C; font-style:italic;">
                                                                    Terms and conditions apply.
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                          <!-- <td width="25">&nbsp;</td> -->
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <img src="./img/playnow-btn.png" width="200" height="24" alt="" />
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            Terms &amp; Conditions
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• This Sure-Win game (the "Game") is organised by Changi Airport Group ("CAG"). Participants of the Game shall be referred to as "Changi Rewards players".</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• All registered Changi Rewards members are allowed to participate in the Game. By participating in the Game, you agree to be bound by all the terms and condition set out in the Game and to receive email and SMS notifications from CAG regarding the Game.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• The Game Token must be redeemed within three (3) months from the date of issuance. Each Game Token can be used only once.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• With a minimum spend of $30 nett in a single receipt during the game period, each Changi Rewards player will receive one (1) token ("Game Token") for the Game too. The Game Token will be issued immediately after a qualified transaction has been made.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• CAG may at its absolute discretion make changes to the game mechanics or prizes at any time. All changes or updates will be made available at the Game Site.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            • Changi Rewards may at its discretion (without assigning any reasons or justifications): forfeit, disqualify or refuse to allow any Changi Rewards member to participate in the Game; and disregard any incomplete, improper or late entries in relation to the Game.
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            • <a href="https://sure-win.changirewards.com/tnc" style="color:#ffffff;">Other Terms & Conditions apply</a>.
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>