<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td bgcolor="#F7F6F2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="235" align="center">
                                            <img src="./img/sony.jpg" width="193" alt="Sony" style="display:block;" />
                                          </td>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#5D0F3F" width="1">
                                                    <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="1" height="1" alt="" style="display:block;" />
                                                  </td>
                                                  <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="30">
                                                            &nbsp;
                                                          </td>
                                                          <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:18px; color:#5D0F3F; line-height:18px;">
                                                                    Sony
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family: &#39;Open Sans&#39;; font-size:20px; color:#bd9441; line-height:24px; letter-spacing:1px;">
                                                                    Receive a Sony Store Singapore Travel Organizer
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:14px; color:#7c7c7c">
                                                                    with minimum spending of $350
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:12px; color:#7C7C7C; font-style:italic;">
                                                                    Terms and conditions apply.
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                          <!-- <td width="25">&nbsp;</td> -->
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <img src="./img/redeem-btn.png" width="200" height="24" alt="" />
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>

                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            Terms &amp; Conditions
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Voucher is valid on first-come-first-served, while stocks last basis, till 31 December 2019 to 29 February 2020 at Sony Store, Changi Airport only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Actual voucher printout (only from self-help kiosk) or email confirmation must be presented before payment.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Customer to spend a minimum of $350 in a single invoice at Sony Store in Changi Airport to receive the free gift.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Limited to one free gift per customer per invoice.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Sony Electronics (Singapore) Pte Ltd reserves the right to replace free gift with one of equal or similar value.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Limited to one-time use only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:'Open Sans'; font-size:10px; color:#ffffff;">• Other terms and conditions may apply.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>